<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MALL</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css"/>
    <style>        .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .table-centered {
        margin: 0 auto !important;
    }</style>
</head>
<body>
<div class="container container-center">
    <div class="table-responsive"><h1 style="text-align:center">商城订单中心</h1>
        <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>商铺名称</th>
                <th>订单来源</th>
                <th>状态</th>
                <th>商品</th>
                <th>数量</th>
                <th>客户名称</th>
                <th>快递单号</th>
                <th>支付方式</th>
                <th>发货时间</th>
                <th>签收时间</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>更新时间</th>
                <th>更新人</th>
            </tr>
            </thead>
            <tbody><% for(mallOrder in list){ %>
            <tr>
                <td>${mallOrderLP.index}</td>
                <td>${mallOrder.no}</td>
                <td>${mallOrder.storeName}</td>
                <td>${mallOrder.origin}</td>
                <td>${mallOrder.status}</td>
                <td>${mallOrder.itemCode}</td>
                <td>${mallOrder.itemQty}</td>
                <td>${mallOrder.customerName}</td>
                <td>${mallOrder.expressNo}</td>
                <td>${mallOrder.payType}</td>
                <td>${mallOrder.deliveryTime,"yyyy-MM-dd HH:mm:ss"}</td>
                <td>${mallOrder.receiptTime,"yyyy-MM-dd HH:mm:ss"}</td>
                <td>${mallOrder.createdTime,"yyyy-MM-dd HH:mm:ss"}</td>
                <td>${mallOrder.createdBy}</td>
                <td>${mallOrder.updatedTime,"yyyy-MM-dd HH:mm:ss"}</td>
                <td>${mallOrder.updatedBy}</td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <div> 当前页码 ${page}</div>
    </div>
</div>
<script src="https://cdn.staticfile.org/layui/2.5.7/layui.js"/>
</body>
</html>